/*
	StyleSheet for search page.
*/

body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	background-color: white;
	/* margin:0px 0px 0px 0px; */
}

h1 {
	font-family: sans-serif;
	font-size: 14px; 
	font-weight: bold;
	color: #1B4C7E; //#00749C;
	background-color: transparent;
	text-align:left;
	text-transform: uppercase;
	text-decoration: underline;
	margin: 5px;
}

h1.title {
	background-image: url(/include/pictures/arrow.png);
	background-repeat: no-repeat;
	background-position: center left;
	margin-top: 0px;
	margin-bottom: 20px;
	padding-left: 18px;
}

select { 
	background-color: #fcf1ea;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	border: 1px;
	border-style: solid;
	border-color: #000000;
}

input {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	/* color:#00749C; */
	/* border-color: #9C5B00; */
}

tr {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px;
	color:#ffffff;
	background-color: #ACACAC;
}

tr.noresult {
	text-align: center;
	color: #CF0428;
	font-size: 12px; 
	font-weight: bold;
	background-color: #FFFFFF;
}

tr.result_par {
	text-align: center;
	color: #222222; /* #444444; */
	font-size: 11px; 
	height: 20px;
	background-color: #CDE2E6;
}

tr.result_odd {
	text-align: center;
	color: #222222; /* #444444; */
	font-size: 11px;
	height: 20px;
	background-color: #FFFFFF;
}

th {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 13px; 
	color:#ffffff;
	background-color: #6a6a6a; /* #939393; */
	padding-top: 1px;
	padding-bottom: 1px;
	border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: #111111;/* #00749C; */
}

.boxTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	background-color: #1B4C7E; //#00749C;
	color: #ffffff;
	float:left;
	width:98%;
	margin: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-transform: uppercase;
	border-top-color: #5C5C5C;
	border-bottom-color: #5C5C5C;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-width: 2px;
	border-bottom-width: 2px;
}

.boxCol {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-color:transparent;
	float:left;
	width:100%;
	margin-top: 7px;
	margin-left: 14px;
	margin-bottom: 0px;
	border-color:#00000;
	padding-bottom: 0px;
}

.boxSearch {
	float: left;
	width: 300px;
	margin: 2px;
}

.boxField {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-color: #FFFFFF;
	margin: 2px;
	float: left;
	width: 85px;
	text-align: left;
}

.boxInput {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-color: #FFFFFF;
	margin: 2px;
	margin-right: 20px;
	float: left;
	width: 125px;
	text-align: left;
}

.boxInput input {
	background-color: #fcf1ea;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	/* color:#00749C; */
	border: 1px;
	border-style: solid;
	border-color: #000000;
	/* border-color: #9C5B00; */
}

.boxAction {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	/* background-color: #00AEE8; 
	color: #4C4C4C; */
	margin-top: 4px;
	float: left;
	width: 130px;
	height: 35px;
	text-align: center;
	/* cursor: hand; */
	padding-bottom: 0px;
}

.boxResults {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	float:left;
	color:#ffffff;
	width: 98%;
	padding: 0px;
	margin-top:2px;
	margin-left:5px;
	margin-right:5px;
	border: 1px;
	border-style: solid;
	border-color: #111111;/* #00749C; */
}
