.boxContainer {
	position: relative;
	top: 0px;
	left: 0px;
	height: 66px;
	border: 1px;
	border-style: solid;
	border-color: #00749C; 
	background-image: url(/include/pictures/header.png);
  	background-position: bottom;
  	background-repeat: repeat-x;
}

.boxHeaderTitle {
	text-align: center;
	text-decoration: underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	font-style: italic;
	color: #fcab5f;
	position: absolute;
	top: 34%;
	left: 5px;
	width: 18%;
	height: 30px;
}

.boxHeaderVoid {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	position: absolute;
	top: 34%;
	left: 20%;
	width: 60%;
	height: 30px;
	
}

.boxHeaderInfos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	position: absolute;
	top: 34%;
	right: 5px;
	width: 18%;
	height: 30px;
}

.boxMenu {
	border: 1px;
	border-style: solid;
	border-color: #A8A8A8; 
}