.loginContainer {
	top: 50px;
	position: relative;
	margin: 1em 32%;
	height: 300px;
	width: 370px;
	color: #ffffff;
	background-color: #d1d1d1;
	
	border: 1px;
	border-style: solid;
	border-color: #000000; 
}

.loginTitle {
	position: absolute;
	top: 0px;
	height: 60px;
	width: 100%;
	padding-top: 10px;
	background-image: url(/include/pictures/header_motif.png);
  	background-position: top;
  	background-repeat: repeat-x, repeat-y;
}

.loginBody {
	position: absolute;
	top: 70px;
	background-color: #d1d1d1;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
}

.loginBody input {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	border: 1px;
	border-style: solid;
	border-color: #000000;
}

.loginAuthenticate {
	float: left;
	width:100%;
	margin-top: 20px;
	margin-left: 14px;
	font-size: 14px; 
	color: #ffffff ; 
	font-weight: bold; 
	text-transform: uppercase;
}

.loginBox {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	float: left;
	width: 240px;
	margin-top: 16px;
	margin-left: 90px;
	color: #FFFFFF;
	font-size: 11px; 
}

.loginField {
	float: left;
	width: 100px;
	text-align: left;
	padding-top: 2px;
	font-weight: bold; 
}

.loginInput {
	float: left;
	width: 100px;
	text-align: left;
}

.loginButton {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	float: left;
	width: 240px;
	margin-top: 40px;
	margin-left: 90px;
	color: #FFFFFF;
	font-size: 12px; 
	text-align: center;
}

.loginButton a.classicButtonGreen {
	height: 29px;
	color: white;
  	background-color: #2ba405;
  	text-decoration: none;
  	font-family: Verdana, Arial, Helvetica, sans-serif; 
  	font-weight: bold;
  	text-align: center;
  	font-size: 12px; 
  	background-image: url(/include/pictures/button_background_green.png);
	background-repeat: no-repeat;
	background-position: left top;
	border: 1px outset #898989;
	padding: 2px;
	cursor: hand;
}

